@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 text-white;
}
#aboutme {
    @apply w-full h-96 flex flex-row;
}
#aboutme .imagePart {
    @apply w-2/12 m-10 bg-yellow-500 h-3/6
    relative;
}
#aboutme .imagePart img {
    @apply rounded-br-2xl rounded-bl-2xl w-11/12 absolute right-0;
}
#aboutme .presentaion {
    @apply w-5/12 m-10 justify-center items-start
    flex flex-col; 
}
#aboutme .presentaion h1 {
    @apply text-yellow-500 font-bold text-3xl;
}
#aboutme .presentaion h2 {
    @apply text-white font-bold text-3xl;
}
#aboutme .presentaion p {
    @apply text-white text-sm;
}
.buttonMore {
    @apply  w-fit border-yellow-500 
    border-2 border-solid mt-7 rounded-3xl relative 
    justify-center items-center flex flex-row;
}
#aboutme .presentaion button {
    @apply text-white p-2 pl-5 pr-5 ;
}
#aboutme .presentaion .buttonMore .iconMore {
    @apply text-white bg-yellow-500 h-10 w-10 rounded-3xl
    text-center justify-center items-center flex cursor-pointer;
}
#aboutme .navbar {
    @apply flex flex-col text-center justify-center
    items-center absolute right-2 top-16;
}
#aboutme .navbar a {
    @apply border-2 border-zinc-700
    border-solid m-2 p-2 rounded-full text-xs/3 bg-zinc-700;
}
#aboutme .navbar i {
    @apply text-yellow-500 text-xs/3;
}
#aboutme .navbar a:hover {
    @apply bg-yellow-500 text-white; 
}
#aboutme .navbar a:active {
    @apply text-white text-xs/3;
}
#aboutme .part2 {
    @apply relative;
}

#aboutmeVrai {
    @apply w-9/12 m-auto relative;
}
#aboutmeVrai .title {
    @apply relative text-center items-center justify-center
    flex mb-12;
}
#aboutmeVrai .title h1 {
    @apply font-bold text-center text-2xl;
}
#aboutmeVrai .title h1 span {
    @apply text-yellow-500 pl-2;
}
#aboutmeVrai .title h2 {
    @apply font-bold text-center text-5xl absolute opacity-10
    top-0;
}
#aboutmeVrai .container-present {
    @apply w-full;
}
#aboutmeVrai .container-present .sub-container {
    @apply w-full flex flex-row;
}
#aboutmeVrai .container-present .div_content {
    @apply w-3/6;
}
#aboutmeVrai .container-present .part_one {
    @apply w-full;
}
#aboutmeVrai .container-present .part_one h3 {@apply font-bold mb-5;}
#aboutmeVrai .container-present .part_one .part1 {
    @apply flex flex-row;
}
#aboutmeVrai .container-present .part_one .part1 div {
    @apply mr-12;
}
#aboutmeVrai .container-present .part_one .part1 div p span {
    @apply font-bold;
}
#aboutmeVrai .container-present .part_one .part1 div p {
    @apply opacity-65;
}
#aboutmeVrai .container-present button {
    @apply text-white p-2 pl-5 pr-5 ;
}
#aboutmeVrai .container-present .buttonMore .iconMore {
    @apply text-white bg-yellow-500 h-10 w-10 rounded-3xl
    text-center justify-center items-center flex cursor-pointer;
}
#aboutmeVrai .container-present .sub-container .div_content2  {
    @apply w-3/6 flex flex-wrap;
}
#aboutmeVrai .container-present .sub-container .div_content2 .sub-content {
    @apply w-2/6 border-2 border-zinc-700 border-solid p-6 m-2;
}
#aboutmeVrai .container-present .sub-container .div_content2 .sub-content label {
    @apply text-yellow-500 font-bold text-2xl;
}
.my_skills {
    @apply w-full flex flex-wrap;
}
.my_skills .content-skills {
    @apply p-7 w-2/12 relative justify-center items-center flex flex-row
    mb-5 h-36 mt-10 pt-20 ml-10;
}
.content-skills span {
    @apply absolute top-12 right-2/4 text-white translate-x-2/4 translate-y-2/4;
}
.content-skills h1 {
    @apply font-bold absolute bottom-1;
}
.my_skills svg circle {
    fill: none;
    stroke: #eab308;
    stroke-width: 5px;
    transform: translate(5px,5px);
    stroke-linecap: round;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
}
.my_skills svg circle:nth-child(1) {
  stroke: rgb(63 63 70 / var(--tw-bg-opacity));
  stroke-dashoffset: 0;
}
.my_skills svg circle:nth-child(2) {
    animation: circle 2s forwards;
}

@keyframes circle {
    to {
        stroke-dashoffset: 175;
    }
}